.container {
    background-color: rgb(53, 126, 169); width: 500px;height: 500px;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    box-sizing: content-box;
    border-top: 500px;
    border-top: ;
    
}